
@{
    ViewBag.Title = "Chi Nhánh";
    Layout = "~/Views/Shared/_LayoutUser1.cshtml";
}

<div class="ps-section pt-80 pb-80">
    <div class="container">
        <div class="ps-contact">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                    <div class="ps-contact__info">
                       <div>
                           <img src="~/imglogin/bakery.jpg" />
                       </div>
                        <h4 style="margin-top:10px;font-family:Arial, Helvetica, sans-serif">TRỤ SỞ VĂN PHÒNG</h4><hr />
                        <div class="ps-contact__block">
                            <p><i class="fa fa-home"> 448 Hà Huy Tập,Yên Viên,Hà Nội</i></p>
                            <p><i class="fa fa-envelope-o"></i>vanilabakery@gmail.com</p>
                            <p><i class="fa fa-phone"></i>0987355947</p>
                            <h4 style="font-family:Arial, Helvetica, sans-serif">Theo dõi tại</h4>
                            <ul class="ps-contact__social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                            <!-- Modal -->
                            <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>              
                                        </div>
                                        <div class="modal-body">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3722.6473497201505!2d105.9163079740294!3d21.086742585786908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135a9d3940601fb%3A0xd068903d0bd54b62!2zNDQ4IMSQLiBIw6AgSHV5IFThuq1wLCBZw6puIFZpw6puLCBHaWEgTMOibSwgSMOgIE7hu5lpLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1682132831206!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                    <h4 style="font-family:Arial, Helvetica, sans-serif">HỆ THỐNG CỬA HÀNG</h4><hr />
                    <div class="ps-contact__block">
                        <p><i class="fa fa-home"> 448 Hà Huy Tập,Yên Viên,Hà Nội</i></p>
                        <p><i class="fa fa-envelope-o"></i>vanilabakery@gmail.com</p>
                        <p><i class="fa fa-phone"></i>0987355947</p>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Bản đồ</button>
                    </div>
                    <div class="ps-contact__block">
                        <p><i class="fa fa-home"> Thị Trấn Vĩnh Trụ,Lý Nhân,Hà Nam</i></p>
                        <p><i class="fa fa-envelope-o"></i>vanilabakery@gmail.com</p>
                        <p><i class="fa fa-phone"></i>0961293595</p>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">Bản đồ</button>
                        <!-- Modal -->
                        <div id="myModal1" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d933.9236172453516!2d106.02980356950314!3d20.55967825449701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135c4ef99c40cf9%3A0xec9a4face7bb1e4!2zSGnhu4d1IHPDoWNoIFbEqW5oIFRy4bul!5e0!3m2!1sen!2s!4v1682137106346!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>


